@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); 
    }
}

.rotating-svg {
    display: block; 
    animation: spin 3s linear infinite; 
    margin: 0 10px 0 10px;
    margin-left: 20px;
}

.header-container {
    position: fixed;
    z-index: 100;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    box-sizing: border-box;

    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px #000 solid;
    padding: 5px 0;
    margin-bottom: 0;
    top: 0;
    height: 5vw;
}

.links {
  display: flex;
  padding: 10px;
}
  
.links p {
  margin: 0 5px 0 5px;
  text-decoration: none;
  font-weight: bold;
  font-style: none;
  color: #fff;
}

.links p i {
  height: 50px;
  width: 50px;
}

.letra {
  color: #000000;
  display: inline-block; 
  transition: none; 
  font-size: 2em;
}

.letra.active-animation {
  color: #fc6044; 
  transition: none;
}

.letra:not(.active-animation) {
  transition: color 6s ease-out;
}

.title:hover {
  cursor: default;
}

.carrinho {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
}

.notification {
    background-color: #fc6044;
    border-radius: 50%; 
    width: 15px;
    height: 15px;
    position: absolute; 
    top: -3px;
    right: -3px; 
    z-index: 100; 

    text-align: center;
    font-family: 'Sora';
    font-size: 10px;
}

@media screen and (max-width: 768px) {
  .header-container {
    position: fixed;
    z-index: 100;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    box-sizing: border-box;

    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px #000 solid;
    padding: 5px 0;
    margin-bottom: 0;
    top: 0;
    height: 10vw;
  }

  .title {
    margin-left: 3em;
    margin-right: auto;
  }

  .letra {
    color: #fff;
    display: inline-block; 
    transition: none; 
    font-size: 1em;
  }

  .rotating-svg {
    display: block; 
    animation: spin 3s linear infinite; 
    margin: 0 10px 0 10px;
    margin-left: 20px;

    width: 2em;
    height: 2em;
  }
}