.cadastro-usuario-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin-top: 5vw;
    justify-content: center;
    align-items: center;
}

.form-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container div {
    display: flex;
    justify-content: space-between;
}

.form-container div label{
    font-family: 'Sora';
    margin: 5px 0 5px 10px;
    margin-right: 10px;
}

.form-container div input{
    margin: 5px 0 5px 10px;
    align-items: end;
}

.form-container button{
    font-family: 'Sora';
    cursor: pointer;
    margin-top: 30px;

    margin-left: auto;
}