.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-catalogo {
    font-family: 'Sora';
}

.produtos-container {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50em;
    width: 70em;    
}

.produto {
    border: 1px #232323;
    font-size: small;
    margin: 2em 1em 1em 2em;
    position: relative;
}

.faixa-esgotado {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 249, 233, 0.815);
    height: 3em;
    width: 100%;
}

.faixa-esgotado p {
    align-items: center;
    text-align: center;
}


.preco-produto {
    margin-right: auto;
    align-items: start;
    font-family: 'Sora';
    font-size: 13px;
}

.title-artist {
    display: inline;
}

.nome-produto {
    font-family: 'Sora';
    font-size: 17px;
}

.cover-container {
    display: flex;
}

.produto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.cover {
    cursor: move;
    width: 20em;
    height: 20em;
}

.carrossel {
    margin-top: 5vw;
    overflow: hidden;
}
.carrossel::-webkit-scrollbar {
    display: none;
}

.group {
    width: 100vw;
    display: flex;
    flex-direction: row;
    width: max-content;

    animation: spin 35s linear infinite;
}

.group:hover {
    animation-play-state: paused;
}

.carrossel-image {
    height: 20vw;
    width: 20vw;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

@keyframes spin {
    from { transform: translateX(0);}
    to { transform: translateX(-50%);}
}

.faixa {
    width: 100vw;
    height: 3.5vw;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-cadastro {
    color:#fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;

        margin-top: 5vw;
    }

    .carrossel {
        display: none;
    }

    .produtos-container {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;    
    }

    .produto {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important; 
    }

    .produto img {
        width: 100%;
        height: 100%;
    }
}