.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.catalogo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.faixa-lateral {

}

.produto-container {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50em;
    width: 70em;    
}

.produto {
    border: 1px #232323;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
    margin: 2em 1em 1em 2em;
    position: relative;
}

.faixa-esgotado {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 249, 233, 0.815);
    height: 3em;
    width: 100%;
}

.faixa-esgotado p {

    text-align: center;
}

.info-produto {
    margin: 0;
    padding: 0;
}

.preco-produto {
    margin-right: auto;
    align-items: start;
    font-family: 'Sora';
    font-size: 13px;
}

.nome-produto {
    font-family: 'Sora';
    font-size: 17px;
}

.cover-container {
    display: flex;
}

.produto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.cover {
    cursor: move;
    width: 20em;
    height: 20em;
}

.carrossel {
    margin-top: 5vw;
    overflow: hidden;
}
.carrossel::-webkit-scrollbar {
    display: none;
}

.group {
    width: 100vw;
    display: flex;
    flex-direction: row;
    width: max-content;

    animation: spin 35s linear infinite;
}

.group:hover {
    animation-play-state: paused;
}

.carrossel-image {
    height: 20vw;
    width: 20vw;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 10;
    position: relative;
    /* border-left: 0.5px solid #ffea2f;
    border-right: 0.5px solid #ffea2f; */
}

@keyframes spin {
    from { transform: translateX(0);}
    to { transform: translateX(-50%);}
}

.faixa {
    width: 100vw;
    height: 3.5vw;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-cadastro {
    color:#fff;
    text-decoration: none;
}
